<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask - AJAX Form</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    .container {
      padding-top: 50px;
      max-width: 500px;
    }
     #model_select, #show_selection {
      display: none;
    }
    </style>
  </head>
  <body>

    <div class="container">
      <h1>Select a Vehicle</h1><br><br>

      <div id="make_selection">
        <form action="/" method="POST">
          {{ form.hidden_tag() }}
          {{ form.make(id="make_select", class="form-control") }}
          <br>
          {{ form.model(id="model_select", class="form-control") }}
          <br><br>
          <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
          <button type="button" class="btn btn-success" id="refresh-btn">Refresh</button>
        </form>
      </div>

      <br><br>

      <div id="show_selection">
        <h2>You selected:</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Make ID</th>
              <th>Make</th>
              <th>Model ID</th>
              <th>Model</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span id="chosen_make_id"></span></td>
              <td><span id="chosen_make"></td>
              <td><span id="chosen_model_id"></span></td>
              <td><span id="chosen_model"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
